*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --tile-size: 8rem;
}

@font-face {
    font-family: 'montserrat';
    src: url(./assets/Montserrat-SemiBold.ttf);
    font-style: normal;
    font-weight: 500;
  }

body {
    margin: 0;
    font-family: flood-std;
}


.dark-mode {
    transition: 250ms;
    transition-timing-function: ease;
    background-color: #191919 !important;
    color: lightgray !important;
    width: 100% !important;
}

.navbar {
    background-color: #5E5D62;
    color: white;
    max-width: 100%;
    font-family: montserrat;

}

.navbar .container-fluid {
    justify-content: space-evenly;
}

.form-check {
    margin-bottom: 0;
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: black;
}
.form-switch .form-check-input:checked {
    background-color: black;
    border-color: white;
    border: none;
}

.form-switch .form-check-input {
    background-color: white;
    border-color: black;
    border: none;

}

.board {
    transition: 250ms;
    transition-timing-function: ease;
    width: 100%;
    height: 86vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    border: 4px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-size: calc(var(--tile-size)*0.9);
    font-weight: 700;
    cursor: pointer;
}

.tile:first-child,
.tile:nth-child(2), 
.tile:nth-child(3) {
    border-top: none;
}

.tile:nth-child(3n + 1) {
    border-left: none;
}

.tile:nth-child(7),
.tile:nth-child(8), 
.tile:last-child{
    border-bottom: none;
}
 
.tile:nth-child(3n) {
    border-right: none;
}

.tile .x,
.tile .o {
    cursor: not-allowed;
}

.tile.x::before,
.tile.x::after {
    color: #3BBADA;
}


.tile.o::before,
.tile.o::after {
    color: #3C86D3;
}

.board.x .tile:not(.x):not(.o):hover::before,
.board.x .tile:not(.x):not(.o):hover::after,
.board.o .tile:not(.x):not(.o):hover::after,
.board.o .tile:not(.x):not(.o):hover::before {
    color: lightgrey;
}

.tile.x::before,
.tile.x::after,
.board.x .tile:not(.x):not(.o):hover::before,
.board.x .tile:not(.x):not(.o):hover::after {
    content: 'X';
    position: absolute;
}

.tile.o::before,
.tile.o::after,
.board.o .tile:not(.x):not(.o):hover::before,
.board.o .tile:not(.x):not(.o):hover::after {
    content: 'O';
    position: absolute;
}



.winner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 90%);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winner button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    margin-top: .25em;
    font-family: flood-std;
}

.winner button:hover {
    background-color: black;
    border-color: white;
    color: white;

}

.winner.show {
    display: flex;
}


.footer p {
    margin: 0 3px 0 0;
    padding: 0;
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5E5D62;
    text-align: center;
    color: white;
    height: unset;
    font-family: montserrat;
}

.footer .icons {
    width: 20px;
    height: 20px;
    margin: 5px 5px;
  }